.App {
  margin-top: 5%;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  width: auto;
  height: 650px;
  text-align: center;
  display: flex;
  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
  font-size: 0.8rem;
  
  
}
.side{

  background-color: white;
  border: solid 1px;
  width: 30%;
  height: 80%;
  border-radius: 0.9rem;
  text-align: left;
  margin-bottom: 1rem ;
  font-size: 1.3rem;
  letter-spacing: 0rem;
  
}

.inside{
  font-family:serif;
  font-size: 1.2rem;
  letter-spacing: 0rem;
  margin-bottom:1rem;
  
}



  .side:hover{
   font-weight: bolder;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  
  


.corner{
border-radius: 1.5rem;
opacity: 1;
height: 50px;
}



